@import "tailwindcss";

@theme inline {
  --color-background: #181a20;
  --color-foreground: #eaecef;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: #181a20;
  color: #eaecef;
}
